*{margin:0px; padding:0px;}
li{list-style: none;}
a{text-decoration: none; color:white;}
body{background-color: rgb(0, 0, 0);}
font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*pc*/

@media (min-width:1201px){
    #myVideo {
        position:fixed;
      }
    
    #aboutus_visual{width:100%;height:100vh;}
    .visual_wrap_2{width:100%; height:100%; position: relative; opacity: 0; animation: showup 2s; animation-delay: 1s; animation-fill-mode: forwards;}
    @keyframes showup{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .visual_text{position: absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%); }
    .visual_text img{float:left; margin-right:20px;}
    .visual_text h3{float:left; font-family: 'ghanachoco'; color:rgb(199, 199, 199); font-size: 2vw; margin-top:2%;}
    .visual_wrap_2 p{position: absolute; top:60%; color: rgb(171, 171, 171); left:50%; transform: translateX(-50%); text-align: center; line-height: 150%; font-size: 1.1vw; animation:blink 3s infinite linear;}
    
    
    .scdown{width:5%;position: absolute; left:50%; transform: translateX(-50%); bottom:5%; transition: 1s;}
    .scdown img{display: block; text-align: center; margin:0px auto;}
    .scdown img:nth-of-type(1){width:25%;}
    .scdown img:nth-of-type(2){width:25%; padding-top:15px; animation:mouse 1.5s infinite linear;}
    @keyframes mouse{
        0%{opacity:0;
        padding-top:15px;}
        100%{opacity:1;
        padding-top:5px;}
    }
    
    /*h2*/
    
    h2{font-family: 'ghanachoco'; color:#9d0000; text-align: center; font-size: 1.5vw; z-index: 999; position: absolute; left:50%; transform: translateX(-50%); opacity: 0; transition: .5s;}
    h2.on{opacity: 1;}
    
    /*con1*/
    #a_container1{width:70%; z-index: 99; position:relative; opacity: 0.3; margin:0px auto;}
    .a_box1{display: flex; justify-content:space-evenly; }
    
    
    .a_box1 li{width:20%;}
    .a_box1 img{width:100%;}
    .a_box1 li:nth-of-type(1){opacity: .8;}
    .a_box1 li:nth-of-type(2){margin-top:4%;}
    .a_box1 li:nth-of-type(4){margin-top:4%;}
    .a_box1 li:nth-last-of-type(1){opacity: .6;}
    
    
    /*2ppl*/
    
    #a_container2{margin:500px 0px 250px 0px; z-index: 999; transition: 2s;}
    #a_container2.on{margin:200px 0px 250px 0px; z-index: 999;}
    
    
    .a_box2{width:100%;display: flex; justify-content: center; margin-bottom:200px; opacity: 1; transition: 1s;}
    .on .a_box2{opacity:1;}
       .aboutus_text2{width:45%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; padding: 4% 0 8% 10%; z-index: 999;}
    
    
    .a_box2 img{width:18%; border-top-left-radius: 50%;
    border-top-right-radius: 50%; z-index: 9999; margin: -5% -5% 0 0;}
    .aboutus_text{width:45%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; padding: 4% 0 2% 10%; z-index: 999;}
    .aboutus_text2{width:45%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; padding: 4% 0 8% 10%; z-index: 999;}
    .a_box2 h3{font-family: 'ghanachoco'; color: #9d0000; font-size: 1.5vw; margin-bottom:10px;}
    .aboutus_t{width:80%; font-size: .8vw;}
    .red{color: #9d0000; margin:10px 0px; font-size: 1vw;}
    
    .more{width:fit-content; font-size: 1.4vw; padding:5px 25px; background-color: #9d0000; border-radius: 10px; color: white; font-family: 'ghanachoco'; cursor: pointer; margin:5% 0 0 50%;}
    
    
    
    /*banner*/
    .a_banner{width:100%; height:25vh; margin:300px 0px 300px; z-index: 999 ;}
    .a_banner_wrap{width:80%; height:100%; position: relative; margin:0px auto; background:url(../img/auditionbanner.png) no-repeat center center; background-size: cover; z-index: 9999; padding:5px 0px;}
    .banner_t{position: absolute; left:10%; top:25%;}
    
    .a_banner img{width:50%;position: absolute; bottom: 0px; right:0px;}
    .a_banner p{color: #ffffffb3; font-size: 1vw; margin-bottom:10px; animation:none;}
    .a_banner p.on{animation: blink 1s infinite;}
    @keyframes blink{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .a_banner h3{color: #9d0000; font-family: 'ghanachoco'; font-size: 2vw; margin-bottom: 15px;}
    .more2{width:35%; font-size: 1.1vw; padding:5px 25px; background-color: #9d0000; border-radius: 10px; color: rgb(222, 222, 222); font-family: 'ghanachoco'; cursor: pointer; margin:5% 0 0 80%; text-align: center;}
}


/*태블릿과 PC사이*/
@media (min-width:880px) and (max-width:1200px){
    #myVideo {
        position:fixed;
      }
    
    #aboutus_visual{width:100%;height:100vh;}
    .visual_wrap_2{width:100%; height:100%; position: relative; opacity: 0; animation: showup 2s; animation-delay: 1s; animation-fill-mode: forwards;}
    @keyframes showup{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .visual_text{position: absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%); }
    .visual_text img{float:left; margin-right:20px;}
    .visual_text h3{float:left; font-family: 'ghanachoco'; color:rgb(199, 199, 199); font-size: 2vw; margin-top:5%;}
    .visual_wrap_2 p{position: absolute; top:60%; color: rgb(171, 171, 171); left:50%; transform: translateX(-50%); text-align: center; line-height: 150%; font-size: 1.1vw; animation:blink 3s infinite linear;}
    
    
    .scdown{width:5%;position: absolute; left:50%; transform: translateX(-50%); bottom:5%; transition: 1s;}
    .scdown img{display: block; text-align: center; margin:0px auto;}
    .scdown img:nth-of-type(1){width:25%;}
    .scdown img:nth-of-type(2){width:25%; padding-top:15px; animation:mouse 1.5s infinite linear;}
    @keyframes mouse{
        0%{opacity:0;
        padding-top:15px;}
        100%{opacity:1;
        padding-top:5px;}
    }
    
    /*h2*/
    
    h2{font-family: 'ghanachoco'; color:#9d0000; text-align: center; font-size: 1.5vw; z-index: 999; position: absolute; left:50%; transform: translateX(-50%); opacity: 0; transition: .5s;}
    h2.on{opacity: 1;}
    
    /*con1*/
    #a_container1{width:70%; z-index: 99; position:relative; opacity: 0.3; margin:0px auto;}
    .a_box1{display: flex; justify-content:space-evenly; }
    
    
    .a_box1 li{width:20%;}
    .a_box1 img{width:100%;}
    .a_box1 li:nth-of-type(1){opacity: .8;}
    .a_box1 li:nth-of-type(2){margin-top:4%;}
    .a_box1 li:nth-of-type(4){margin-top:4%;}
    .a_box1 li:nth-last-of-type(1){opacity: .6;}
    
    
    /*2ppl*/
    
    #a_container2{margin:500px 0px 250px 0px; z-index: 999; transition: 2s;}
    #a_container2.on{margin:200px 0px 250px 0px; z-index: 999;}
    
    
    .a_box2{width:100%;display: flex; justify-content: center; margin-bottom:200px; opacity: 1; transition: 1s;}
    .on .a_box2{opacity:1;}
    
    
    .a_box2 img{width:18%; border-top-left-radius: 50%;
    border-top-right-radius: 50%; z-index: 9999; margin: -5% -5% 0 0;}
    .aboutus_text{width:40%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; padding: 4% 0 8% 10%; z-index: 999;}
    .aboutus_text2{width:40%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; padding: 4% 0 8% 10%; z-index: 999;}
    .a_box2 h3{font-family: 'ghanachoco'; color: #9d0000; font-size: 1.5vw; margin-bottom:10px;}
    .aboutus_t{width:80%; font-size: .8vw;}
    .red{color: #9d0000; margin:10px 0px; font-size: 1vw;}
    
    .more{width:fit-content; font-size: 1.4vw; padding:5px 25px; background-color: #9d0000; border-radius: 10px; color: white; font-family: 'ghanachoco'; cursor: pointer; margin:5% 0 0 50%;}
    
    
    
    /*banner*/
    .a_banner{width:100%; height:25vh; margin:250px 0px 300px; z-index: 999 ;}
    .a_banner_wrap{width:80%; height:100%; position: relative; margin:0px auto; background:url(../img/auditionbanner.png) no-repeat center center; background-size: cover; z-index: 9999; padding:5px 0px;}
    .banner_t{position: absolute; left:10%; top:25%;}
    
    .a_banner img{width:50%;position: absolute; bottom: 0px; right:0px;}
    .a_banner p{color: #ffffffb3; font-size: 1vw; margin-bottom:10px; animation:none;}
    .a_banner p.on{animation: blink 1s infinite;}
    @keyframes blink{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .a_banner h3{color: #9d0000; font-family: 'ghanachoco'; font-size: 2vw; margin-bottom: 15px;}
    .more2{width:35%; font-size: 1.1vw; padding:5px 25px; background-color: #9d0000; border-radius: 10px; color: rgb(222, 222, 222); font-family: 'ghanachoco'; cursor: pointer; margin:5% 0 0 80%; text-align: center;}
}


/*태블릿*/
@media (min-width:601px) and (max-width:879px){
    #myVideo {
        display: none;
      }
    
    #aboutus_visual{width:100%;height:100vh; background: url(../img/satin_red.png) no-repeat center center; background-size: cover; background-attachment: fixed;}
    .visual_wrap_2{width:100%; height:100%; position: relative; opacity: 0; animation: showup 2s; animation-delay: 1s; animation-fill-mode: forwards;}
    @keyframes showup{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .visual_text{width:50%; position: absolute; top:47%; left:50%; transform: translateX(-50%) translateY(-50%);}
    .visual_text img{width:70%; float:left; margin-right:5%;}
    .visual_text h3{float:left; font-family: 'ghanachoco'; color:rgb(199, 199, 199); font-size: 2vw; margin-top:8%;}
    .visual_wrap_2 p{position: absolute; top:56%; color: rgb(171, 171, 171); left:50%; transform: translateX(-50%); text-align: center; line-height: 150%; font-size: 2vw; animation:blink 3s infinite linear;}
    
    
    .scdown{width:7%;position: absolute; left:50%; transform: translateX(-50%); bottom:5%; transition: 1s;}
    .scdown img{display: block; text-align: center; margin:0px auto;}
    .scdown img:nth-of-type(1){width:25%;}
    .scdown img:nth-of-type(2){width:25%; padding-top:15px; animation:mouse 1.5s infinite linear;}
    @keyframes mouse{
        0%{opacity:0;
        padding-top:15px;}
        100%{opacity:1;
        padding-top:5px;}
    }
    
    /*h2*/
    
    h2{font-family: 'ghanachoco'; color:#9d0000; text-align: center; font-size: 3vw; z-index: 999; position: absolute; left:50%; transform: translateX(-50%); opacity: 0; transition: .5s; padding-top:100px;}
    h2.on{opacity: 1;}
    
    /*con1*/
    #a_container1{width:80%; z-index: 99; position:relative; opacity: 0.3; margin:0px auto;}
    .a_box1{display: flex; justify-content:space-evenly; }
    
    
    .a_box1 li{width:20%;}
    .a_box1 img{width:100%;}
    .a_box1 li:nth-of-type(1){opacity: .8;}
    .a_box1 li:nth-of-type(2){margin-top:4%;}
    .a_box1 li:nth-of-type(4){margin-top:4%;}
    .a_box1 li:nth-last-of-type(1){opacity: .6;}
    
    
    /*2ppl*/
    
    #a_container2{margin:500px 0px 250px 0px; z-index: 999; transition: 2s;}
    #a_container2.on{margin:250px 0px 250px 0px; z-index: 999;}
    
    
    .a_box2{width:100%; display: flex; justify-content: center; margin:150px 0px; opacity: 1; transition: 1s;}
    .on .a_box2{opacity:1;}
    
    
    .a_box2 img{width:25%; border-top-left-radius: 50%;
    border-top-right-radius: 50%; z-index: 9999; margin: -5% -5% -2% 0;}
    .aboutus_text{width:45%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; padding: 4% 0 2% 10%; z-index: 999;}
    .aboutus_text2{width:45%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; padding: 4% 0 8% 10%; z-index: 999;}

    .a_box2 h3{font-family: 'ghanachoco'; color: #9d0000; font-size: 1.5vw; margin-bottom:10px;}
    .aboutus_t{width:80%; font-size: .8vw;}
    .red{color: #9d0000; margin:10px 0px; font-size: 1vw;}
    
    .more{width:fit-content; font-size: 1.4vw; padding:5px 25px; background-color: #9d0000; border-radius: 10px; color: white; font-family: 'ghanachoco'; cursor: pointer; margin:5% 0 0 50%;}
    
    
    
    /*banner*/
    .a_banner{width:100%; height:20vh; margin:150px 0px 200px; z-index: 999 ;}
    .a_banner_wrap{width:100%; height:100%; position: relative; margin:0px auto; background:url(../img/auditionbanner.png) no-repeat center center; background-size: cover; z-index: 9999; padding:5px 0px;}
    .banner_t{position: absolute; left:10%; top:25%;}
    
    .a_banner img{width:50%;position: absolute; bottom: 0px; right:0px;}
    .a_banner p{color: #ffffffb3; font-size: 2vw; margin-bottom:10px; animation:none;}
    .a_banner p.on{animation: blink 1s infinite;}
    @keyframes blink{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .a_banner h3{color: #9d0000; font-family: 'ghanachoco'; font-size: 3vw; margin-bottom: 15px;}
    .more2{width:30%; font-size: 1.1vw; padding:5px 25px; background-color: #9d0000; border-radius: 8px; color: rgb(222, 222, 222); font-family: 'ghanachoco'; cursor: pointer; margin:10% 0 0 80%; text-align: center;}
    

}
/*태블릿모바일사이*/
@media (min-width:480px) and (max-width:600px){


    #myVideo {
        display: none;
      }
    
    #aboutus_visual{width:100%;height:100vh; background: url(../img/satin_red.png) no-repeat center center; background-size: cover; background-attachment: fixed;}
    .visual_wrap_2{width:100%; height:100%; position: relative; opacity: 0; animation: showup 2s; animation-delay: 1s; animation-fill-mode: forwards;}
    @keyframes showup{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .visual_text{width:50%; position: absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%);}
    .visual_text img{width:70%; float:left; margin-right:5%;}
    .visual_text h3{float:left; font-family: 'ghanachoco'; color:rgb(199, 199, 199); font-size: 2vw; margin-top:8%;}
    .visual_wrap_2 p{position: absolute; top:60%; color: rgb(171, 171, 171); left:50%; transform: translateX(-50%); text-align: center; line-height: 150%; font-size: 2vw; animation:blink 3s infinite linear;}
    
    
    .scdown{width:7%;position: absolute; left:50%; transform: translateX(-50%); bottom:5%; transition: 1s;}
    .scdown img{display: block; text-align: center; margin:0px auto;}
    .scdown img:nth-of-type(1){width:25%;}
    .scdown img:nth-of-type(2){width:25%; padding-top:15px; animation:mouse 1.5s infinite linear;}
    @keyframes mouse{
        0%{opacity:0;
        padding-top:15px;}
        100%{opacity:1;
        padding-top:5px;}
    }
    
    /*h2*/
    
    h2{font-family: 'ghanachoco'; color:#9d0000; text-align: center; font-size: 3vw; z-index: 999; position: absolute; left:50%; transform: translateX(-50%); opacity: 0; transition: .5s; padding-top:100px;}
    h2.on{opacity: 1;}
    
    /*con1*/
    #a_container1{width:80%; z-index: 99; position:relative; opacity: 0.3; margin:0px auto;}
    .a_box1{display: flex; justify-content:space-evenly; }
    
    
    .a_box1 li{width:20%;}
    .a_box1 img{width:100%;}
    .a_box1 li:nth-of-type(1){opacity: .8;}
    .a_box1 li:nth-of-type(2){margin-top:4%;}
    .a_box1 li:nth-of-type(4){margin-top:4%;}
    .a_box1 li:nth-last-of-type(1){opacity: .6;}
    
    
    /*2ppl*/
    
    #a_container2{margin:500px 0px 250px 0px; z-index: 999; transition: 2s;}
    #a_container2.on{margin:200px 0px 200px 0px; z-index: 999;}
    
    
    .a_box2{width:100%; display: flex; justify-content: center; margin-bottom:150px; opacity: 1; transition: 1s;}
    .on .a_box2{opacity:1;}
    
    
    .a_box2 img{width:40%; border-top-left-radius: 50%;
    border-top-right-radius: 50%; z-index: 9999; margin: -5% -5% -2% 0;}
    .aboutus_text{width:50%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; padding: 8% 0 2% 10%; z-index: 999;}
    .aboutus_text2{width:50%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; padding: 8% 0 8% 10%; z-index: 999;}

    .a_box2 h3{font-family: 'ghanachoco'; color: #9d0000; font-size: 1.5vw; margin-bottom:10px;}
    .aboutus_t{width:80%; font-size: 1vw;}
    .red{color: #9d0000; margin:10px 0px; font-size: 1vw;}
    
    .more{width:fit-content; font-size: 1.4vw; padding:5px 25px; background-color: #9d0000; border-radius: 10px; color: white; font-family: 'ghanachoco'; cursor: pointer; margin:5% 0 0 50%;}
    
    
    
    /*banner*/
    .a_banner{width:100%; height:18vh; margin:150px 0px 150px; z-index: 999 ;}
    .a_banner_wrap{width:100%; height:100%; position: relative; margin:0px auto; background:url(../img/auditionbanner.png) no-repeat center center; background-size: cover; z-index: 9999; padding:5px 0px;}
    .banner_t{position: absolute; left:10%; top:25%;}
    
    .a_banner img{width:50%;position: absolute; bottom: 0px; right:0px;}
    .a_banner p{color: #ffffffb3; font-size: 2vw; margin-bottom:10px; animation:none;}
    .a_banner p.on{animation: blink 1s infinite;}
    @keyframes blink{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .a_banner h3{color: #9d0000; font-family: 'ghanachoco'; font-size: 3vw; margin-bottom: 15px;}
    .more2{width:40%; font-size: 1.1vw; padding:5px 25px; background-color: #9d0000; border-radius: 8px; color: rgb(222, 222, 222); font-family: 'ghanachoco'; cursor: pointer; margin:10% 0 0 80%; text-align: center;}
    
}

/*모바일*/

@media (min-width:380px) and (max-width:479px){
    #myVideo {
        display: none;
      }
    
    #aboutus_visual{width:100%;height:100vh; background: url(../img/satin_red.png) no-repeat center center; background-size: cover; background-attachment: fixed;}
    .visual_wrap_2{width:100%; height:100%; position: relative; opacity: 0; animation: showup 2s; animation-delay: 1s; animation-fill-mode: forwards;}
    @keyframes showup{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .visual_text{position: absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%);}
    .visual_text img{width:55%; float:left; margin-right:8%;}
    .visual_text h3{float:left; font-family: 'ghanachoco'; color:rgb(199, 199, 199); font-size: 2vw; margin-top:3%;}
    .visual_wrap_2 p{position: absolute; top:60%; color: rgb(171, 171, 171); left:50%; transform: translateX(-50%); text-align: center; line-height: 150%; font-size: 2vw; animation:blink 3s infinite linear;}
    
    
    .scdown{width:7%;position: absolute; left:50%; transform: translateX(-50%); bottom:5%; transition: 1s;}
    .scdown img{display: block; text-align: center; margin:0px auto;}
    .scdown img:nth-of-type(1){width:25%;}
    .scdown img:nth-of-type(2){width:25%; padding-top:15px; animation:mouse 1.5s infinite linear;}
    @keyframes mouse{
        0%{opacity:0;
        padding-top:15px;}
        100%{opacity:1;
        padding-top:5px;}
    }
    
    /*h2*/
    
    h2{font-family: 'ghanachoco'; color:#9d0000; text-align: center; font-size: 3.5vw; z-index: 999; position: absolute; left:50%; transform: translateX(-50%); opacity: 0; transition: .5s; padding-top:100px;}
    h2.on{opacity: 1;}
    
    /*con1*/
    #a_container1{width:80%; z-index: 99; position:relative; opacity: 0.3; margin:0px auto;}
    .a_box1{display: flex; justify-content:space-evenly; }
    
    
    .a_box1 li{width:20%;}
    .a_box1 img{width:100%;}
    .a_box1 li:nth-of-type(1){opacity: .8;}
    .a_box1 li:nth-of-type(2){margin-top:4%;}
    .a_box1 li:nth-of-type(4){margin-top:4%;}
    .a_box1 li:nth-last-of-type(1){opacity: .6;}
    
    
    /*2ppl*/
    
    #a_container2{width:90%; margin:500px auto 250px; z-index: 999; transition: 2s; text-align: center;}
    #a_container2.on{margin:200px auto 200px; z-index: 999;}
    
    
    .a_box2{width:80%;margin:150px auto 0; opacity: 1; transition: 1s;}
    .on .a_box2{opacity:1;}
    
    
    .a_box2 img{width:60%; border-top-left-radius: 50%;
    border-top-right-radius: 50%; z-index: 9999; margin: -5% -5% 0% 0;}
    .aboutus_text{width:100%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; z-index: 999; padding:5%; text-align: left;}
    .aboutus_text2{width:100%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; z-index: 999; padding:7% 5%; text-align: left;}

    .a_box2 h3{font-family: 'ghanachoco'; color: #9d0000; font-size: 1.5vw; margin-bottom:10px;}
    .aboutus_t{font-size: 1vw;}
    .red{color: #9d0000; margin:10px 0px; font-size: 1vw;}
    
    .more{width:fit-content; font-size: 1.4vw; padding:5px 25px; background-color: #9d0000; border-radius: 10px; color: white; font-family: 'ghanachoco'; cursor: pointer; margin:5% 0 0 50%;}
    
    
    
    /*banner*/
    .a_banner{width:100%; height:18vh; margin:150px 0px 150px; z-index: 999 ;}
    .a_banner_wrap{width:100%; height:100%; position: relative; margin:0px auto; background:url(../img/auditionbanner.png) no-repeat center center; background-size: cover; z-index: 9999; padding:5px 0px;}
    .banner_t{position: absolute; left:10%; top:25%;}
    
    .a_banner img{width:50%;position: absolute; bottom: 0px; right:0px;}
    .a_banner p{color: #ffffffb3; font-size: 2vw; margin-bottom:10px; animation:none;}
    .a_banner p.on{animation: blink 1s infinite;}
    @keyframes blink{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .a_banner h3{color: #9d0000; font-family: 'ghanachoco'; font-size: 3vw; margin-bottom: 15px;}
    .more2{width:40%; font-size: 1.1vw; padding:5px 25px; background-color: #9d0000; border-radius: 8px; color: rgb(222, 222, 222); font-family: 'ghanachoco'; cursor: pointer; margin:10% 0 0 80%; text-align: center;}
    
    
}

@media (max-width:379px){
    #myVideo {
        display: none;
      }
    
    #aboutus_visual{width:100%;height:100vh; background: url(../img/satin_red.png) no-repeat center center; background-size: cover; background-attachment: fixed;}
    .visual_wrap_2{width:100%; height:100%; position: relative; opacity: 0; animation: showup 2s; animation-delay: 1s; animation-fill-mode: forwards;}
    @keyframes showup{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .visual_text{position: absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%);}
    .visual_text img{width:55%; float:left; margin-right:8%;}
    .visual_text h3{float:left; font-family: 'ghanachoco'; color:rgb(199, 199, 199); font-size: 2vw; margin-top:3%;}
    .visual_wrap_2 p{position: absolute; top:60%; color: rgb(171, 171, 171); left:50%; transform: translateX(-50%); text-align: center; line-height: 150%; font-size: 2vw; animation:blink 3s infinite linear;}
    
    
    .scdown{width:7%;position: absolute; left:50%; transform: translateX(-50%); bottom:5%; transition: 1s;}
    .scdown img{display: block; text-align: center; margin:0px auto;}
    .scdown img:nth-of-type(1){width:25%;}
    .scdown img:nth-of-type(2){width:25%; padding-top:15px; animation:mouse 1.5s infinite linear;}
    @keyframes mouse{
        0%{opacity:0;
        padding-top:15px;}
        100%{opacity:1;
        padding-top:5px;}
    }
    
    /*h2*/
    
    h2{font-family: 'ghanachoco'; color:#9d0000; text-align: center; font-size: 3.5vw; z-index: 999; position: absolute; left:50%; transform: translateX(-50%); opacity: 0; transition: .5s; padding-top:100px;}
    h2.on{opacity: 1;}
    
    /*con1*/
    #a_container1{width:80%; z-index: 99; position:relative; opacity: 0.3; margin:0px auto;}
    .a_box1{display: flex; justify-content:space-evenly; }
    
    
    .a_box1 li{width:20%;}
    .a_box1 img{width:100%;}
    .a_box1 li:nth-of-type(1){opacity: .8;}
    .a_box1 li:nth-of-type(2){margin-top:4%;}
    .a_box1 li:nth-of-type(4){margin-top:4%;}
    .a_box1 li:nth-last-of-type(1){opacity: .6;}
    
    
    /*2ppl*/
    
    #a_container2{width:90%; margin:500px auto 250px; z-index: 999; transition: 2s; text-align: center;}
    #a_container2.on{margin:200px auto 200px; z-index: 999;}
    
    
    .a_box2{width:80%;margin:150px auto 0; opacity: 1; transition: 1s;}
    .on .a_box2{opacity:1;}
    
    
    .a_box2 img{width:60%; border-top-left-radius: 50%;
    border-top-right-radius: 50%; z-index: 9999; margin: -5% -5% 0% 0;}
    .aboutus_text{width:100%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; z-index: 999; padding:5%; text-align: left;}
    .aboutus_text2{width:100%; background-color: rgba(255, 255, 255, 0.913); box-sizing: border-box; z-index: 999; padding:7% 5%; text-align: left;}

    .a_box2 h3{font-family: 'ghanachoco'; color: #9d0000; font-size: 1.5vw; margin-bottom:10px;}
    .aboutus_t{font-size: 1vw;}
    .red{color: #9d0000; margin:10px 0px; font-size: 1vw;}
    
    .more{width:fit-content; font-size: 1.4vw; padding:5px 25px; background-color: #9d0000; border-radius: 10px; color: white; font-family: 'ghanachoco'; cursor: pointer; margin:5% 0 0 50%;}
    
    
    
    /*banner*/
    .a_banner{width:100%; height:18vh; margin:150px 0px 150px; z-index: 999 ;}
    .a_banner_wrap{width:100%; height:100%; position: relative; margin:0px auto; background:url(../img/auditionbanner.png) no-repeat center center; background-size: cover; z-index: 9999; padding:5px 0px;}
    .banner_t{position: absolute; left:10%; top:25%;}
    
    .a_banner img{width:50%;position: absolute; bottom: 0px; right:0px;}
    .a_banner p{color: #ffffffb3; font-size: 2vw; margin-bottom:10px; animation:none;}
    .a_banner p.on{animation: blink 1s infinite;}
    @keyframes blink{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    
    .a_banner h3{color: #9d0000; font-family: 'ghanachoco'; font-size: 3vw; margin-bottom: 15px;}
    .more2{width:40%; font-size: 1.1vw; padding:5px 25px; background-color: #9d0000; border-radius: 8px; color: rgb(222, 222, 222); font-family: 'ghanachoco'; cursor: pointer; margin:10% 0 0 80%; text-align: center;}
    
}