
.calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow: hidden;}

  .circle {
    width: 24px;
    height: 24px;
    background-color: #428bca;
    display: inline-block;
    border-radius: 50%;
  }
  .header {
    height: 50px;
    width: 100%;
    background-color: #428bca;
    color: #fff;
    text-align: center;
    position:relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 10px;
    height: 100px;}
    .month {
      opacity: 1;
      text-align: center;
      padding: 0px 40px;
      font-size: 2.5em;
      margin-bottom: 0px;
      font-weight: normal;
    }
    .year {
      text-align: center;
      padding: 0px 40px;
      font-size: 1.5em;
    }
    h1 {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 50px;
      font-weight: 100;
      letter-spacing: 1px;
    }
  
  .legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #E9E9E9;
    line-height: 30px;
  }


.ring-left {
  left: 2em;
  position: absolute;
  margin-top: -8px;
}
.ring-right {
  right: 2em;
  position: absolute;
  margin-top: -8px;
}


.left, .right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #FFF transparent transparent;
  left: 20px;
}

.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #FFF;
  right: 20px;
}

