*{margin:0px; padding:0px;}
li{list-style: none;}

a{text-decoration: none; color:white;}


@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (min-width:1025px) {

/*nav*/

nav{width:100%; display: flex; justify-content: space-evenly; position: fixed; z-index: 9999999; transition: 1s; box-sizing: border-box;}
nav.on{background-color: black;} 
nav h1{width:30%; margin:2% 0 0 2%;}
nav h1 img{width:20%; padding-top:3px;}
.pc{width:60%; display: flex; margin:4% 0% 1% 5%;}
.pc li{width:22%; margin-right:8%; text-align: center; font-size: 1.1vw;}
.pc li{color:white; cursor: pointer;}
nav li a{transition: .5s;}
nav li:hover{color:#9d0000; width:22%; margin-right:8%; text-align: center; font-size: 1.1vw;}
nav li a:hover{color:#9d0000; font-size: 1.1vw;}

.line{width:0%; height:3px; background-color: #9d0000; margin:0px auto;}
@keyframes line{

    0%{width:0%;}
    100%{width:80%;}
}
nav li:hover .line{animation: line .5s; width:0%; height:3px; background-color: #9d0000; margin:0px auto;}
.tablet{display: none;}


/*footer*/
footer{width:100%; height:30vh; background: url(../img/footer.png) no-repeat center center; background-size: cover; position: relative; margin: 0px auto ;}
footer h1{width:30%; position: absolute; top:20%; left:8%;}
footer h1 img{width:30%; padding:5%;}
.footer_t{width:60%; color: white; position: absolute; left:10%; top:50%; font-size: 1vw;}

.f_list{width:20%; color:white; display: flex; justify-content: space-between; position: absolute; left:10%; top:75%; font-size: 1vw;}
.sns{width:3%; position: absolute; right:10%; top:50%; transform: translateY(-50%);}
.sns li{width:90%; margin-bottom:30%;}
.sns li:nth-last-child(1){margin-bottom: 0px;}
.sns img{width:100%;}

/*fixed_t*/

.fixed_t{width:4%;position: fixed; z-index: 99999; bottom:25%; right:3%; opacity: 0; animation: rotate 2s infinite linear; transition: 1s;}
.fixed_t.on{opacity: 1;}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    30%{transform: rotate(-5deg);}
    50%{transform: rotate(5deg);}
    100%{transform: rotate(0deg);}
}

.sctop{width:2%;position: fixed; z-index: 99999; bottom:10%; right:3%; transition: 1s; cursor: pointer; opacity: 0; animation: sctop 1s infinite linear;}

@keyframes sctop{
0%{bottom:10%;}
100%{bottom:11%;}
}

.sctop.on{opacity: 1;}

}

@media (min-width:650px) and (max-width:1024px) {

/*nav*/

nav{width:100%; justify-content: space-evenly; position: fixed; z-index: 9999999; transition: 1s; box-sizing: border-sbox; height:0vh;}
nav.on{background-color: black; height:8vh;} 
nav h1{width:30%; margin:2% 0 0 2%;}
nav h1 img{width:10%; padding:2%; z-index: 9999; position: fixed;}
.pc{width:60%; display: flex; margin:4% 0% 1% 5%; display: none;}
.pc li{width:22%; margin-right:8%; text-align: center; font-size: 1.1vw;}
nav li{color:white; cursor: pointer;}
nav li a{transition: .5s;}
.pc li:hover{color:#9d0000; width:22%; margin-right:8%; text-align: center; font-size: 1.1vw;}
.pc li a:hover{color:#9d0000; font-size: 1.1vw;}

.line{width:0%; height:3px; background-color: #9d0000; margin:0px auto;}
@keyframes line{

    0%{width:0%;}
    100%{width:80%;}
}
.pc li:hover .line{animation: line .5s; width:0%; height:3px; background-color: #9d0000; margin:0px auto;}



/*ham*/

.ham{width:5%; position: fixed; right:3%; top:3%; cursor: pointer; z-index: 99999;}
.ham>div{width:100%; height:2px; background-color: rgb(230, 230, 230); margin-bottom:20%;}

/*tablet*/
.tablet{width:100%; height:70vh; background-color: black; z-index: 999; position: absolute; top:-1000px; padding:22% 0px 0px 10%; }
.tablet li{font-size: 4vw; margin-bottom: 40px;}

/*footer*/
footer{width:100%; height:30vh; background: url(../img/footer.png) no-repeat center center; background-size: cover; position: relative; margin: 0px auto ;}
footer h1{width:30%; position: absolute; top:25%; left:8%;}
footer h1 img{width:35%; padding:5%;}
.footer_t{width:60%; color: white; position: absolute; left:10%; top:50%; font-size: 1vw;}

.f_list{width:30%; color:white; display: flex; justify-content: space-between; position: absolute; left:10%; top:75%; font-size: 1vw;}
.sns{width:3.5%; position: absolute; right:10%; top:50%; transform: translateY(-50%);}
.sns li{width:100%; margin-bottom:30%;}
.sns li:nth-last-child(1){margin-bottom: 0px;}
.sns img{width:100%;}

/*fixed_t*/

.fixed_t{width:8%;position: fixed; z-index: 99999; bottom:25%; right:3%; opacity: 0; animation: rotate 2s infinite linear; transition: 1s;}
.fixed_t.on{opacity: 1;}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    30%{transform: rotate(-5deg);}
    50%{transform: rotate(5deg);}
    100%{transform: rotate(0deg);}
}

.sctop{width:2%;position: fixed; z-index: 99999; bottom:10%; right:3%; transition: 1s; cursor: pointer; opacity: 0; animation: sctop 1s infinite linear;}

@keyframes sctop{
0%{bottom:10%;}
100%{bottom:11%;}
}

.sctop.on{opacity: 1;}
}

@media (min-width:460px) and (max-width:649px) {

    /*nav*/

nav{width:100%; justify-content: space-evenly; position: fixed; z-index: 9999999; transition: 1s; box-sizing: border-box; height:0vh;}
nav.on{background-color: black; height:8vh;} 
nav h1{width:30%; margin:3% 0 0 4%;}
nav h1 img{width:15%; padding:2%; z-index: 9999; position: fixed;}
.pc{width:60%; display: flex; margin:4% 0% 1% 5%; display: none;}
.pc li{width:22%; margin-right:8%; text-align: center; font-size: 1.1vw;}
nav li{color:white; cursor: pointer;}
nav li a{transition: .5s;}
nav li:hover{color:#9d0000; width:22%; margin-right:8%; text-align: center; font-size: 1.1vw;}
nav li a:hover{color:#9d0000; font-size: 1.1vw;}

.line{width:0%; height:3px; background-color: #9d0000; margin:0px auto;}
@keyframes line{

0%{width:0%;}
100%{width:80%;}
}
nav li:hover .line{animation: line .5s; width:0%; height:3px; background-color: #9d0000; margin:0px auto;}



/*ham*/

.ham{width:6%; position: fixed; right:5%; top:3%; cursor: pointer; z-index: 99999;}
.ham>div{width:100%; height:2px; background-color: rgb(230, 230, 230); margin-bottom:20%;}

/*tablet*/
.tablet{width:100%; height:70vh; background-color: black; z-index: 999; position: absolute; top:-1000px; padding:22% 0px 0px 10%; }
.tablet li{font-size: 4vw; margin-bottom: 40px;}

/*footer*/
footer{width:100%; height:20vh; background: url(../img/footer.png) no-repeat center center; background-size: cover; position: relative; margin: 0px auto ;}
footer h1{width:30%; position: absolute; top:30%; left:10%;}
footer h1 img{width:50%;}
.footer_t{width:60%; color: white; position: absolute; left:10%; top:50%; font-size: 1vw; display: none;}

.f_list{width:40%; color:white; display: flex; justify-content: space-between; position: absolute; left:10%; top:75%; font-size: 1vw;}
.sns{width:5%; position: absolute; right:10%; top:50%; transform: translateY(-30%);}
.sns li{width:90%; margin-bottom:30%;}
.sns li:nth-last-child(1){margin-bottom: 0px;}
.sns img{width:100%;}

/*fixed_t*/

.fixed_t{width:8%;position: fixed; z-index: 99999; bottom:28%; right:3%; opacity: 0; animation: rotate 2s infinite linear; transition: 1s;}
.fixed_t.on{opacity: 1;}

@keyframes rotate{
0%{transform: rotate(0deg);}
30%{transform: rotate(-5deg);}
50%{transform: rotate(5deg);}
100%{transform: rotate(0deg);}
}

.sctop{width:3%;position: fixed; z-index: 99999; bottom:10%; right:3%; transition: 1s; cursor: pointer; opacity: 0; animation: sctop 1s infinite linear;}

@keyframes sctop{
0%{bottom:10%;}
100%{bottom:11%;}
}

.sctop.on{opacity: 1;}

}

@media (max-width:459px) {

/*nav*/

nav{width:100%; justify-content: space-evenly; position: fixed; z-index: 9999999; transition: 1s; box-sizing: border-box; height:0vh;}
nav.on{background-color: black; height:8vh;} 
nav h1{width:30%; margin:3% 0 0 4%;}
nav h1 img{width:15%; padding:3%; z-index: 9999; position: fixed;}
.pc{width:60%; display: flex; margin:4% 0% 1% 5%; display: none;}
.pc li{width:22%; margin-right:8%; text-align: center; font-size: 1.1vw;}
nav li{color:white; cursor: pointer;}
nav li a{transition: .5s;}
nav li:hover{color:#9d0000; width:22%; margin-right:8%; text-align: center; font-size: 1.1vw;}
nav li a:hover{color:#9d0000; font-size: 1.1vw;}

.line{width:0%; height:3px; background-color: #9d0000; margin:0px auto;}
@keyframes line{

0%{width:0%;}
100%{width:80%;}
}
nav li:hover .line{animation: line .5s; width:0%; height:3px; background-color: #9d0000; margin:0px auto;}



/*ham*/

.ham{width:6%; position: fixed; right:5%; top:3%; cursor: pointer; z-index: 99999;}
.ham>div{width:100%; height:2px; background-color: rgb(230, 230, 230); margin-bottom:20%;}

/*tablet*/
.tablet{width:100%; height:70vh; background-color: black; z-index: 999; position: absolute; top:-2000px; padding:30% 0px 0px 10%; }
.tablet li{font-size: 4.5vw; margin-bottom: 40px;}

/*footer*/
footer{width:100%; height:20vh; background: url(../img/footer.png) no-repeat center center; background-size: cover; position: relative; margin: 0px auto ;}
footer h1{width:30%; position: absolute; top:30%; left:10%;}
footer h1 img{width:70%;}
.footer_t{width:60%; color: white; position: absolute; left:10%; top:50%; font-size: 1vw; display: none;}

.f_list{width:40%; color:white; display: flex; justify-content: space-between; position: absolute; left:10%; top:75%; font-size: 1vw;}
.sns{width:5%; position: absolute; right:10%; top:50%; transform: translateY(-30%);}
.sns li{width:90%; margin-bottom:30%;}
.sns li:nth-last-child(1){margin-bottom: 0px;}
.sns img{width:100%;}

/*fixed_t*/

.fixed_t{width:10%;position: fixed; z-index: 99999; bottom:28%; right:3%; opacity: 0; animation: rotate 2s infinite linear; transition: 1s;}
.fixed_t.on{opacity: 1;}

@keyframes rotate{
0%{transform: rotate(0deg);}
30%{transform: rotate(-5deg);}
50%{transform: rotate(5deg);}
100%{transform: rotate(0deg);}
}

.sctop{width:3%;position: fixed; z-index: 99999; bottom:10%; right:3%; transition: 1s; cursor: pointer; opacity: 0; animation: sctop 1s infinite linear;}

@keyframes sctop{
0%{bottom:10%;}
100%{bottom:11%;}
}

.sctop.on{opacity: 1;}

}